# Dependências
node_modules/
**/node_modules/

# Ambientes
.env
**/.env

# Logs e cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/.cache/
**/dist/
**/build/

# SO/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Frameworks
.next/
.out/
coverage/

# Temporários
*.temp
*.tmp
